{{>header}}
<main class="main-page">
    <div class="main-page-cabeca">
        <section class="main-page-hero">
            <form class="main-page-hero-form">
                <div class="main-page-hero-form-busca">
                    <input class="main-page-hero-form-busca-campo" type="month" name="data-relatorio"
                        id="data-relatorio" min="2016-01" max="2049-12" value="{{resumoMensal.data}}">
                    <i class="fas fa-calendar-alt fa-1x" style="color: #F7941E;"></i>
                </div>
                <select name="filtro" id="filtro">
                    {{#if (eq resumoMensal.filtro "Mensal")}}
                        <option value="Geral">Geral</option>
                        <option selected value="Mensal">Mensal</option>
                        <option value="Quinzenal">Quinzenal</option>
                    {{else}}
                            {{#if (eq resumoMensal.filtro "Quinzenal")}}
                            <option value="Geral">Geral</option>
                            <option value="Mensal">Mensal</option>
                            <option selected value="Quinzenal">Quinzenal</option>
                        {{else}}
                            <option selected value="Geral">Geral</option>
                            <option value="Mensal">Mensal</option>
                            <option value="Quinzenal">Quinzenal</option>
                        {{/if}}
                    {{/if}}
                </select>
            </form>
        </section>
        <h2 class="main-page-lista-cabeçalho">Sub-agentes {{resumoMensal.filtro}} Pagos
            <a class="btn-plus numero-total">{{resumoMensal.agentesPagos}}</a>
        </h2>
    </div>
    <section class="main-page-lista">
        {{#if resumoMensal.listaAgentesPagos}}
        {{#each resumoMensal.listaAgentesPagos}}
        <a href="/agentes/relatorio/{{this.agente_id}}?data={{../resumoMensal.data}}&parcela={{this.parcela}}">
            <div class="main-page-faturacoes-faturacao">
                <p class="nome"> {{this.agente.nome}} </p>
                <h3 class="cash-saida"> <span id="plus">- </span>{{getMoeda this.bonus}}</h3>
                <p> {{this.parcela}} </p>
            </div>
        </a>
        {{/each}}
        {{else}}
        <div class="main-page-faturacoes-faturacao">
            <p class="nome">Nenhuma agente pago!</p>
        </div>
        {{/if}}
    </section>
</main>