{{>header}}
<main class="main-page">
    <div class="main-page-cabeca">
        <section class="main-page-hero">
            <form class="main-page-hero-form main-page-hero-form-relatorio-empresa">
                <div class="main-page-hero-form-busca">
                    <input class="main-page-hero-form-busca-campo" type="month" name="data-relatorio"
                        id="data-relatorio" min="2016-01" max="2049-12" value="{{resumoQuinzenal.data}}">
                    <i class="fas fa-calendar-alt fa-1x" style="color: #F7941E;"></i>
                </div>

                <select name="filtro" id="filtro">
                    {{#if (eq resumoQuinzenal.filtro "Segunda")}}
                        <option value="Primeira">Primeira</option>
                        <option selected value="Segunda">Segunda</option>
                    {{else}}
                        <option selected value="Primeira">Primeira</option>
                        <option value="Segunda">Segunda</option>
                    {{/if}}
                </select>
            </form>
            <div class="main-page-titulo">
                <h2>Relatório Quinzenal da {{resumoQuinzenal.filtro}} quinzena</h2>
            </div>
        </section>
        <section class="main-page-cards">
            <div class="main-page-cards-card">
                <i class="fas fa-hand-holding-usd fa-2x" style="color: #F7941E;"></i>
                <p>Total Vendido</p>
                <h3>{{getMoeda resumoQuinzenal.totalVendido}}</h3>
            </div>
            <div class="main-page-cards-card">
                <i class="fas fa-hand-holding-usd fa-2x" style="color: #F7941E;"></i>
                <p>Total Pago</p>
                <h3>{{getMoeda resumoQuinzenal.totalPago}}</h3>
            </div>
            <div class="main-page-cards-card">
                <i class="fas fa-hand-holding-usd fa-2x" style="color: #F7941E;"></i>
                <p>Total Extraído</p>
                <h3>{{getMoeda resumoQuinzenal.totalExtraido}}</h3>
            </div>
            <a href="/faturacao/mensal?data={{resumoQuinzenal.data}}&filtro=Quinzenal" class="main-page-cards-card">
                <i class="fas fa-store fa-2x" style="color: #F7941E;"></i>
                <p>Faturações</p>
                <h3>{{resumoQuinzenal.totalFaturacoes}}</h3>
            </a>
            <a href="/relatorios/agentespagos?data={{resumoQuinzenal.data}}&filtro=Quinzenal"" class="main-page-cards-card expancivel">
                <i class="fas fa-check-circle fa-2x" style="color: #F7941E;"></i>
                <p>Sub-agentes Pagos</p>
                <h3>{{resumoQuinzenal.agentesPagos}}</h3>
            </a>


            </section>
         
            <div class="graficoContainer">
                    <canvas id="graficoVendas"></canvas>
            </div>
       
        
    </div>
</main>