{{>header}}
<main class="main-page">
    <div class="main-page-cabeca">
        <section class="main-page-hero">
            <form class="main-page-hero-form">
                <div class="main-page-hero-form-busca">
                    <input class="main-page-hero-form-busca-campo" type="date" name="data-relatorio" id="data-relatorio"
                        min="2016-01-01" max="2050-01-01" value="{{resumoDiario.data}}">
                    <i class="fas fa-calendar-alt fa-1x" style="color: #F7941E;"></i>
                    </i>
                </div>
                <select name="filtro" id="filtro">
                    {{#if (eq resumoDiario.filtro "Mensal")}}
                        <option value="Geral">Geral</option>
                        <option selected value="Mensal">Mensal</option>
                        <option value="Quinzenal">Quinzenal</option>
                    {{else}}
                            {{#if (eq resumoDiario.filtro "Quinzenal")}}
                            <option value="Geral">Geral</option>
                            <option value="Mensal">Mensal</option>
                            <option selected value="Quinzenal">Quinzenal</option>
                        {{else}}
                            <option selected value="Geral">Geral</option>
                            <option value="Mensal">Mensal</option>
                            <option value="Quinzenal">Quinzenal</option>
                        {{/if}}
                    {{/if}}
                </select>
            </form>
            <div class="main-page-titulo">
            </div>
        </section>
        <section class="main-page-cards">
            <div class="main-page-cards-card">
                <aside>
                    <i class="fas fa-check-circle fa-2x" style="color: #F7941E;"></i>
                    <p>Faturações</p>
                    <h3> {{resumoDiario.numeroDeVendas}}</h3>
                </aside>
            </div>
            <div class="main-page-cards-card">
                <aside>
                    <i class="fas fa-hand-holding-usd fa-2x" style="color: #F7941E;"></i>
                    <p>Total Vendido</p>
                    <h3> {{getMoeda resumoDiario.totalVendido}}</h3>
                </aside>
            </div>
        </section>
        <h2 class="main-page-lista-cabeçalho">
            Faturações {{resumoDiario.filtro}} do dia
            <a href="/agentes?info=true" class="btn-plus">+</a>
        </h2>
    </div>
    <section class="main-page-faturacoes">
        {{#if successo}}
        {{#each faturacoes}}
        {{>faturacao}}
        {{/each}}
        {{else}}
        <div class="main-page-faturacoes-faturacao">
            <p class="nome">Nenhuma faturação!</p>
        </div>
        {{/if}}
    </section>
</main>